body {
  margin-top: 0;
  padding-top: 0;
}
#breadcrumbs {
  padding: 0 10px 0 10px;
}
#footer {
  padding: 3px 10px 3px 10px;
  font-size: x-small;
}
#breadcrumbs {
  font-size: x-small;
  margin: 0;
}
.xright {
  float:right;
}
